<div class="container mt-5">
  <!-- enter bar -->
  <form action="/" method="POST">
    <div class="input-group mb-3">
      <input
        type="text"
        name="original_url"
        class="form-control"
        placeholder="Input URL here"
        value="{{original_url}}"
        required
      />

    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-outline-primary" type="submit">Shorten</button>
    </div>
  </form>
</div>